streamlit==1.37.0
numpy==1.26.4
pandas==2.2.2
librosa==0.10.1
sounddevice==0.4.6
mediapipe==0.10.14
opencv-python==4.9.0.80
scikit-learn==1.4.2
matplotlib==3.8.4
plotly==5.22.0
reportlab==4.2.2
Pillow==10.3.0
